
# Seed the population with a single organism
u begin InjectRange default-heads.org 0 3599

# Print all of the standard data files...
u 0:100:end PrintAverageData       # Save info about they average genotypes
u 0:100:end PrintDominantData      # Save info about most abundant genotypes
u 0:100:end PrintCountData         # Count organisms, genotypes, species, etc.
u 0:100:end PrintTasksData         # Save organisms counts for each task.
u 0:100:end PrintTimeData          # Track time conversion (generations, etc.)
u 0:100:end PrintResourceData      # Track resource abundance.
u 0:100:end PrintHGTData
u 0:100:end PrintLogAverageData

# Phase A
u 1001:1000:end SetReactionValue NOT  -1.0
u 1001:1000:end SetReactionValue NAND  1.0
u 1001:1000:end SetReactionValue AND  -2.0
u 1001:1000:end SetReactionValue ORN   2.0
u 1001:1000:end SetReactionValue OR   -3.0
u 1001:1000:end SetReactionValue ANDN  3.0
u 1001:1000:end SetReactionValue NOR  -4.0
u 1001:1000:end SetReactionValue XOR   4.0
u 1001:1000:end SetReactionValue EQU  -5.0

#Phase B
u 1501:1000:end SetReactionValue NOT   1.0
u 1501:1000:end SetReactionValue NAND -1.0
u 1501:1000:end SetReactionValue AND   2.0
u 1501:1000:end SetReactionValue ORN  -2.0
u 1501:1000:end SetReactionValue OR    3.0
u 1501:1000:end SetReactionValue ANDN -3.0
u 1501:1000:end SetReactionValue NOR   4.0
u 1501:1000:end SetReactionValue XOR  -4.0
u 1501:1000:end SetReactionValue EQU   5.0

# Save the full population and HGT reservoir at the end of phase A
u 199500 SavePopulation
u 199500 SaveHGTFragments

# Save the full population and HGT reservoir at the end of phase B
u 200000 SavePopulation         
u 200000 SaveHGTFragments

u 200000 Exit                        # exit
